<html>
    <head>
	<title> Home </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
	<div class="container col-4">
	    <form class="form-signup" method="POST" action="/change-password">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Change password</h1>
		<input type="password" name="current_password" class="form-control mb-2 mr-sm-2" placeholder="Current password" required autofocus>
		<input type="password" name="password" class="form-control mb-2 mr-sm-2" placeholder="New password" required autofocus>
		<input type="password" name="confirm_password" class="form-control mb-2 mr-sm-2" placeholder="Confirm password" required autofocus>
		{% if form_error %}
		<div class="alert alert-danger" role="alert">
		    {{ form_error }}
		</div>
		{% endif %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
		<a class="btn btn-lg btn-primary btn-block" href='/dashboard'>Back to home</a>
	    </form>
	</div>
    </body>
</html>
