<html>
    <head>
	<title> Home </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
	<div class="container col-4">
	    <form class="form-signup" method="POST" action="/register">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Please register</h1>
		<input type="text" name="first_name" class="form-control mb-2 mr-sm-2" placeholder="First name" required autofocus>
		<input type="text" name="last_name" class="form-control mb-2 mr-sm-2" placeholder="Last name" required autofocus>
		<input type="text" name="username" class="form-control mb-2 mr-sm-2" placeholder="Username" required autofocus>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
		{% if form_error %}
		<div class="alert alert-danger" role="alert">
		    {{ form_error }}
		</div>
		{% endif %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	    </form>
	</div>
    </body>
</html>
